---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Navbar />

	<main>
		<div>
			<h1>Explora el Mapa Interactivo de la UCT</h1>
			<h2>Recorre nuestro campus de manera digital. Encuentra aulas, bibliotecas, cafeterias y mucho más desde cualquier dispositivo.</h2>
		</div>
		
		<div>
			<button></button>
			<button></button>
		</div>
		
		<div>
			<img src="/Monitos.svg" alt="Descripción de la imagen" width="500" height="500"/>
		</div>
		
	</main>

	<Footer />
</Layout>
