---
import LogoUCT from "../assets/UCT_Logo.png";
---

<div>
    <header>
        <div>
            <img src={LogoUCT.src} alt="Logo UCT">
        </div>

        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Mapa</a></li>
                <li><a href="#">Información</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
</div>
